#footer {
    height: 100vh; /* Full height of the viewport */
    display: flex; /* Use flexbox for centering content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.footer-background {
    background-color: rgba(50, 50, 50, 0.9); /* Dark grey with slight transparency */
    width: 100%; /* Full width */
    height: 100%; /* Ensures it fills the entire height of the footer */
}

.invisible-text {
    opacity: 0; /* Makes the text invisible */
    height: 100px; /* Set a specific height or any value you need */
    width: 100%; /* Set width if necessary */
    pointer-events: none; /* Ensures it does not capture any mouse events */
}
